@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo", "SF Pro Display";
  min-height: 0;
  margin: 0 0;
  padding: 1px 0;
  font-size: 13px;
  
  /* white fix */
  background-image: none; 
  box-shadow: none;       
}

window#waybar {
  background-color: transparent;
}

#workspaces button {
  padding: 0 6px;
  margin: 0 3px;
  font-size: 12px;
  margin: 0 3px;
  border-radius: 40px;
  color: transparent;
  background-color: alpha(@surface, 0.5);
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  min-width: 50px;
  color: @primary;
  background-color: alpha(@surface_dim, 0.8);
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @surface_bright;
  background-color: @primary;
  min-width: 50px;
}

#clock {
  margin: 0 3px;
  background-color: alpha(@surface_dim, 0.8);
  color: @primary;
  padding: 0 10px;
  border-radius: 50px;
  border: 2px;
  transition: all 0.3s ease-in-out;
}

#tray,
#bluetooth,
#network,
#pulseaudio,
#language,
#battery {
  margin: 0 3px;
  padding: 0 5px;
  border-radius: 30px;
  border: 2px;
}

.modules-right {
  margin: 0 3px;
  background-color: alpha(@surface_dim, 0.8);
  color: @primary;
  padding: 0 5px;
  border-radius: 50px;
  border: 2px;
  transition: all 0.3s ease-in-out;
}

#tray{
  color: #e8e8e8;
}

#clock:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#language:hover,
#battery:hover {
  color: @surface_dim;
  background-color: @primary;
}
